body {
    background-color: #bdc3c7;
}

h1 {
    color: #9b59b6;
}

h2 {
    color: orange;
}

li {
    color: #0055b3;
}

p{
    background-color: yellow;
}

input {
    border: 3px solid red;
    
}

.hello {
    background-color: white;
}

#special {
    border: 2px solid #004999;
}

div p {
    font-size: 25px;
}

input[type=text] {
    background-color: gray;
}

label {
    text-transform: uppercase;
}

input[type=checkbox] {
    margin-left: 50px;
}

h1:hover {
    color: blue;
}

a:visited {
    color: gray;
}

p + #special::first-letter {
    color: green;
    font-size: 100px;
}

div:nth-of-type(3) {
    background-color: pink;
}

div p:nth-of-type(2) {
    border: 5px solid white;
}

div em {
    color: white;
    font-size: 20px;
}
